<!-- Main Footer -->
<footer class="main-footer">
  <div class="auto-container">
    <div class="footer-bottom clearfix">
      <div class="pull-left">
        <div class="copyright">© {{ frappe.utils.nowdate()[:4] }} White Rays Technology. All rights reserved.</div>
      </div>
      <div class="pull-right">
        <ul class="footer-links">
          <li><a href="/terms">Terms of Service</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
