{% extends "frappe/www/login.html" %}

{% block head_include %}
  <!-- Include the custom CSS file -->
  <link rel="stylesheet" href="{{ '/assets/whrt_whitelabel/css/whrt_whitelabel.css' }}">
  
{% endblock %}

{% block page_content %}

    {% macro logo_section(title=null) %}
	
    <div class="page-card-head">
        <!-- Reference to the logo image -->
         <img class="app-logo" src="{{ frappe.db.get_single_value('Website Settings', 'app_logo') or '/assets/whrt_whitelabel/images/login_logo.jpg' }}" alt="Login Logo">


        {% if title %}
        <h4>{{ _(title) }}</h4>
        {% else %}
        <h4>{{ _('Login to {0}').format(frappe.db.get_single_value('Whitelabel Setting', 'whitelabel_app_name') or "Parvarthak") }}</h4>
        {% endif %}
    </div>
    {% endmacro %}

    {{ logo_section() }}

    <!-- Include the rest of the login content -->
    <div class="login-content page-card">
        <form class="form-signin form-login" role="form">
            {{ email_login_body() }}
        </form>
    </div>

{% endblock %}

{% block footer %}
    <footer class="web-footer">
        <div class="container">
            <div class="footer-logo-extension">
                <div class="row">
                    <div class="text-left col-md-6"></div>
                    <div class="text-right col-md-6">
                        
                </div>
            </div>
            <div class="footer-links">
                <div class="row">
                    <div class="footer-col-left col-sm-6"></div>
                    <div class="footer-col-right col-sm-6"></div>
                </div>
            </div>
            <div class="footer-info">
                <div class="row">
                    <div class="footer-col-left col-sm-6 col-12"></div>
                    <div class="footer-col-right col-sm-6 col-12 footer-powered">
                        Powered by <a class="text-muted" href="https://whiteraystech.in/" target="_blank">White Rays Technology</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
